body {
 
    display: flex;
    width: 100%;
    height: 250px;
    flex-direction: space-between;
    
}

.wrapper { 
  justify-content: center; 
  flex-wrap: wrap;
  background-color:black;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
  }

.number {  
  background-color: black;
  width: 100%;
  color: white;

}
.clearbutton {
  width: 100%
}
.buttonrow1 {
 width:100%
 
}
.buttonrow2 {
width:100%;
}

.buttonrow3 {
  width:100%,
}

.buttonrow4 {
  width: 100%;
}
.button {
  background-color: lightgray;
  
}
.symbol {
  background-color: orange;
}
