

.wrapper { 
  display: grid;
  flex-wrap: wrap;
  flex-direction: row;
  background-color:black;
  justify-content: center; 
  width: 400px;
  height: 400px;

  }

.result {  
  background-color: black;
  color: white;
  padding-inline-start: 0%;
  padding: 15px 25px;
  font-size: 32px;
  text-align: right;
  }

.button {
  background-color: lightgray; 
  padding-inline-start: 0%;
  padding:15px 30px;
}
.symbol {
  background-color: orange;
  padding-inline-start: 0%;
  color: white;
  padding: 15px 32px;
}

.clear {
  
  text-align: center;
  padding: 15px 50px;
 
}
.row {
  
  padding:15px 50px;
  padding-top: 1px ;
  
  
}
.zero {
padding: 15px 105px;
}
